.bg-lightred{
    background-color: #FF4B4B; 
}

.bg-darkred{
    background-color: #C73E3E;
}

.bg-lightorange{
    background-color: #FFB48A;

}
.bg-orange{
     background-color: #FF8D4C;

}


.bg-yellow{
    background-color: #FFE500;
}
.bg-mediumyellow{
    background-color: #FFE148;
}
.bg-lightyellow{
    background-color: #FFF08C;
}

.bg-lightlightgreen{
    background-color: #D5F98C;
}
.bg-lightgreen{
     background-color: #8FFF67;
}
.bg-mediumgreen{
    background-color: #12AF0E;

}
.bg-darkgreen{
    background-color: #178A14;

}

.bg-lightblue{
    background-color: #A6DFFF;
}
.bg-mediumblue{
    background-color: #4B88FF;
}
.bg-darkblue{
    background-color: #4216BE;
}

.bg-lightpurple{
    background-color: #D96CFF;
}
.bg-darkpurple{
    background-color: #7D00C9;
}

.bg-lightpink{
    background-color: #FFC2D8;}


.bg-white{
    background-color: #FFFEF0;
}

.bg-grey{
    background-color: grey;
}

.div-size-heigh{
    height: 300px;
}