/* font start */


@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap');


h1{
  font-size: 272px;
  font-family: 'Chau Philomene One', sans-serif;    
}
h2{
  font-size: 96px;
  font-family: 'Chau Philomene One', sans-serif;
}

h3{
  font-size: 24px;
  font-family: 'Amaranth', sans-serif;
  line-height: 1.5;
}

h4{
  font-size: 64px;
  font-family: 'Chau Philomene One', sans-serif;
}
h5{
  font-size: 36px;
  font-family: 'Chau Philomene One', sans-serif;
}
p{
  font-size: 10px;
  font-family: 'Amaranth', sans-serif;
}



.get{
  font-size: 55px;
  font-family: 'Amaranth', sans-serif;

}


/* font end */


/* colour style start */   
.bg-lightred{
  background-color: #FF4B4B; 
}

.bg-darkred{
  background-color: #C73E3E;
}

.bg-lightorange{
  background-color: #FFB48A;

}
.bg-orange{
   background-color: #FF8D4C;

}


.bg-yellow{
  background-color: #FFE500;
}
.bg-mediumyellow{
  background-color: #FFE148;
}
.bg-lightyellow{
  background-color: #FFF08C;
}

.bg-lightlightgreen{
  background-color: #D5F98C;
}
.bg-lightgreen{
   background-color: #8FFF67;
}
.bg-mediumgreen{
  background-color: #12AF0E;

}
.bg-darkgreen{
  background-color: #178A14;

}

.bg-lightblue{
  background-color: #A6DFFF;
}
.bg-mediumblue{
  background-color: #4B88FF;
}
.bg-darkblue{
  background-color: #4216BE;
}

.bg-lightpurple{
  background-color: #D96CFF;
}
.bg-darkpurple{
  background-color: #7D00C9;
}

.bg-lightlightpurple{
  background-color: #EDBBF7;
}

.bg-lightpink{
  background-color: #FFC2D8;}


.bg-white{
  background-color: #FFFEF0;
}

/* colour style end */

/* icon size */
.icon-size{
  font-size: 60px;
}
/* icon size end */

/* Button Start */
.rectangle {
  width: 200px;
  height: 80px;
  border-radius: 50px;
  background:white;
  font-size: 10px;
}

.send {
  width: 200px;
  height: px;
  border-radius: 50px;
  background:white;
  font-size: 10px;
  
}


.btn-our{
  background-color: white;
  color: black;
  border: solid 1px black;

}

.btn-our:hover{
  background-color: #9747FF;
  color:white;
  border: 0;

}

.btn-our:active{
  background-color: rgb(34, 18, 34);
  border: solid 3px black;
 
}

.btn-our:focus{
  background-color: #5c0394;
  color: white;
  border: 0;

}

.rectangle3{
  width: 300px;
  height: 80px;
  border-radius: 200px;
  background:#9747FF;
  font-size: 35px;
  text-decoration: none !important;


}

.btn-pro{
  background-color: #9747FF;
  color: black;
  border: solid 1px black;

}

.btn-pro:hover{
  background-color: #b485f1;
  color:white;
  border: 0;

}

.btn-pro:active{
  background-color: rgb(34, 18, 34);
  border: solid 3px black;
 
}

.btn-pro:focus{
  background-color: #5c0394;
  color: white;
  border: 0;

}

.btn-donate{
  background-color: white;
  color: black;
  border: solid 1px black;

}
.btn-donate:hover{
  background-color:red;
  color:white;
  border:0;

}
.btn-donate:focus{
  background-color:rgb(175, 8, 8);
  color:white;
  border: 0;
}

.rectangle2{
  width: 300px;
  height: 80px;
  border-radius: 200px;
  background:white;
  font-size: 35px;

}
.btn-get{
  background-color: #FFF08C;
  color: black;
  border: solid 1px black;

}
.btn-get:hover{
  background-color:#FFE500;
  border: 0;
  color: white;
}
.btn-get:focus{
  background-color:#e4cd03;
  color:white;
  border: 0;
}




/* Button End */

/* form start */


.rectangle{
  width: 900px;
}

.form-control{
  background-color: rgb(234, 234, 234);
  border-bottom: 1px solid red;
  border-radius: 15px ;
}
.form-control:hover{
  background-color:rgb(167, 87, 165);
  border-radius: 30px;
}
.form-control:active{
  background-color:yellow;
  border:0;
}
.form-control:focus{
  background-color:rgb(254, 117, 251);
  border:0;
 
}
/* form end */

/* circle start */
  
.div-size-square{
  width:100px;
  height: 100px;
}

.div-size-heigh{
  height: 240px;
}

.circle-big{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display:center;
  text-align: center;
  padding-top: 155px;
  margin:10px;
  border:solid 2px  black;
}
.circle-small{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display:center;
  text-align: center;
  padding-top: 75px;
  margin: 10px;
  margin-top: 180px;
  

}
.circle-2small{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display:center;
  text-align: center;
  padding-top: 75px;
  margin: 10px;
  margin-top: 160px;
  
}
/* circle end */


body{
  background-color: #FFFEF0;
}


.navbar-brand {
    font-size: 24px;
    font-family: 'Amaranth', sans-serif; /* Adjust the font size for the navbar brand */
}

.navbar-nav .nav-link {
    font-size: 24px;
    font-family: 'Amaranth', sans-serif; /* Adjust the font size for the navbar links */
}

.dropdown-menu{
    font-size: 15px;
    font-family: 'Amaranth', sans-serif;

}


.icon-overlay {
  position: absolute;
  top: 58%;
  left: 42%;
  transform: translate(-50%, -50%);
  font-size: 10px; /* Adjust the size of the icon */

}

.icon-overlay2 {
  position: absolute;
  top: 58%;
  left: 58%;
  transform: translate(-50%, -50%);
  font-size: 10px; /* Adjust the size of the icon */


}



.imgleft{
  padding-left: 30%;

}


.bg-img {
  /* The image used */
  background-image: url("form.png");
  height: 100vh;



}
.col-img:hover  {
  opacity:0.7;
}


.img-fluid {
  width: 100%;
  height: auto;
}

/* Add margin-bottom to create spacing */
.col-img {
  margin-bottom: 20px;
}



.container-box{
  border-radius: 80px;
  width: 80%;
  align-items: center;
  margin-left: 10%;

}


.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}




/* Custom styling for modal content */
.modal-content img {
  max-width: 100%;
  height: auto;
}

.whenMobileGone{
  display: none;
}

@media (min-width:400px){
  .whenMobileGone {
      display: none;
  }
}

@media (min-width:1200px){
  .whenMobileGone {
      display: block;
  }
}



.whenDesktopGone{
  display: none;
}

@media (min-width:576px){
  .whenDesktopGone {
      display: block;
  }
}

@media (min-width:1200px){
  .whenDesktopGone {
      display: none;
  }
}




.bg-lightlightpurple {
  margin-right: -15px;
  margin-left: -15px;
}

.bg-lightlightpurple .col-3 {
  padding-right: 0;
  padding-left: 0;
}

.absolute{
  position: absolute;
}
/* form start */

.col-img {
  position: relative;
  padding: 0;
}

.col-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust this value based on your preference */
  margin: 0;
}

.form-overlay {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Place the form above the image */

  padding: 20px;

  
  max-width: 80%; /* Limit the width of the form */
}
/* form end */

.noline{
  text-decoration: none !important;

}



    
 
   
   


